.inline-cr-line {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
}

.inline-cr-actionable-line {
  background-color: var(--background-modifier-error);
  color: var(--text-on-accent);
}

.inline-cr-nonactionable-line {
  color: var(--text-muted);
}
