/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.cm-line.inline-cr-header-actionable {
  color: #000;
  font-weight: 800;
  background: #F4B9D7 !important;


}

.cm-line.inline-cr-header-nonactionable {
  color: #000;
  font-weight: 500;
  background: #D9FFE2 !important;


}
